@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    height: 100vh; /* or any height you want */
    display: flex;
    flex-direction: column-reverse; /* This makes the content display from bottom to top */
    overflow-y: auto;
    padding: 10px;
}